<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SuperGram</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">All Posts</a></li>
      <li><a href="#">Following</a></li>
      <li><a href="#">Favorites</a></li>
      <li><a href="#">My Posts</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Sign up</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>
